.container{
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 395px;
    background-color: aqua;
    border-radius: 15px;
    padding: 1.5em;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 40%;
}

a{
    color: #FFF;
    text-decoration: none;
}

a:hover{
    color: #05055B;
}