@import './variables.module.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #05055B;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #14F2C9;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #05055B;
    /* creates padding around scroll thumb */
}

.Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html,
body,
#root {
    background-color: var(--background);
    height: 100%;
}

/* 
$first-color: #010128;
$second-color: #05055B;
$blue-color: #242484;
$card-color-blue: #05055B35;
$ciano-color: #14F2C9;
$black-color: #0D0D0D;
$bold-color: #000000;
$white-color: #ffffff;
$white-color-light: #F0F0F080;
$new-white: #FBFBFB;
$card-color-white: #F3F3F4;
$border-color: #E8E8E8;
$disable-color: #858585;
$disable-title: #636363;
$grey-color-light: #D9D9D920;
$gradient-color: linear-gradient(10.68deg, #05055B 17.98%, rgba(20, 242, 201, 0.67) 70.3%);
*/