:root {
    --marrom: #4B3621;
    --creme: #F5F5DC;
    --verde: #98FF98;
    --amarelo: #D4AF37;
    --cinza: #43464B;
    --rosa: #FFC0CB;
    --laranja: #FF7518;
    --azul: #40E0D0;
    --roxo: #E6E6FA;
    --cinza-claro: #dbd9d9;
    --background: #fef5da;
  }
  